body{
    background-image: url(https://lh3.googleusercontent.com/proxy/l-CUQmHsshv_AbXqyOF6ZwmC9WFGXRfPgyETOuewP-ueFKAKSP6-CEIAWVYBdqwLT0RB16qEWdsj7DF1i-JeeY7Rv_HJsnClzQ);
}
.container-header {
    /* background-color: black; */
    height: 140px;
}

a {
    color: darkgrey;
    margin-bottom: 20px;
}

.nav {
    float: right
}

.navbar-brand {
    padding: 0%;
    margin-left: 80px;
}

.container-content {
    /* background-color: black; */
    opacity: 75%;
}

h5 {
    background-color: rgba(169, 169, 169, 0.747);
    height: 0px;
    text-align: center;
    color: rgb(8, 8, 8);
    padding-bottom: 30px;
    padding-top: 5px;
}

.card-deck {
    max-width: 300px;
    width: auto;
}

#card {
    margin: 50px;
}

img {
    max-width:200px;
}

h1 {
    color: darkgray;
    text-align: center;
    background-color: rgba(3, 3, 3, 0.397);
    padding: 20px;
    width: 100%;
}

h2 {
    font-weight: 600;
    margin-left: 20px;
    color: darkgray;
    text-align: center;
}

.container-card-body {
    width: max-content;
    border: solid 10px rgba(9, 53, 38, 0.747);
    margin: auto;
    margin-bottom: 20px;
   
}

.card-title {
    margin: 0;
    padding: auto;
}

@media (max-width: 640px) {
    body {
        width: max-content;
        margin-left: 0px;
    }
    h1 {
        width: 100%;
    }
    .nav {
        margin-right: 90px;
    }

    .container-card-body {
        width: max-content;
        border: solid 10px darkslateblue;
        margin: auto;
        margin-bottom: 10px;
       
    }
}
